<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="undertowServer" class="com.doopp.gauss.web_server.server.undertow.UndertowServer">
        <property name="servletContainerInitializer">
            <bean class="com.doopp.gauss.web_server.server.undertow.WebAppServletContainerInitializer" />
        </property>
        <property name="applicationProperties">
            <bean class="com.doopp.gauss.core.server.util.ApplicationProperties" />
        </property>
        <property name="port" value="8096" />
    </bean>

</beans>
